version: '3.1'

services:

  drupal:
    image: drupal-sample
    ports:
      - 8080:80
    build:
      context: ./docker/
    volumes:
      - ./themes:/var/www/html/themes

      # Uncomment as needed.
      #
      # - ./modules:/var/www/html/modules
      # - ./profiles:/var/www/html/profiles
      # this takes advantage of the feature in Docker that a new anonymous
      # volume (which is what we're creating here) will be initialized with the
      # existing content of the image at the same location
      # - ./sites:/var/www/html/sites
    restart: always
